*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: Linear-gradient(to right, #232526, #414345);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: #232526;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 1px 8px rgba(255, 255, 255, 0.3);  
}

#calculator{
    width: 100%;
    text-align: right;
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
    background: transparent;
    margin-bottom: 10px;
    border: none;
    height: 50px;
    box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.16);
    cursor: pointer;
}

button{
    height: 55px;
    width: 50px;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: 0 3px 13px rgba(255, 255, 255, 0.2);
    font-weight: 700;
    cursor: pointer;
    font-weight: 600;
}

.AC-btn{
    background: green;
    font-weight: 800;
}

.del-btn{
    background: rgb(255, 0, 0);
    font-weight: 800;
}

.eql-btn{
    background: orangered;
    font-weight: 800;
}